<div class="card">
  <div class="card-header">
    <h2>Agregar cita</h2>
    <div *ngIf="formularioIncorrecto" class="text-center">
      <span class="alert alert-danger d-block">todos los campos son obligatorios.</span>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-12">
        <label for="nombre">Nombre</label>
        <input
        [(ngModel)] = "nombre"
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Carlos Pérez"
        >
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label for="fecha">Fecha</label>
        <input
        [(ngModel)] = "fecha"
        type="date"
        class="form-control"
        id="fecha"
        >
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label for="hora">Hora</label>
        <input
        [(ngModel)] = "hora"
         type="time"
         class="form-control"
         id="hora"
         >
      </div>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <label for="sintomas">Síntomas</label>
        <textarea
        [(ngModel)] = "sintomas"
        class="form-control"
        name="sintomas"
        id="sintomas"
        cols="30"
        rows="3"
        ></textarea>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="d-grid gap-2">
      <button
      (click)="agregarCita()"
      class="btn btn-primary"
      type="button"
      >Agregar cita</button>
    </div>
  </div>
</div>
